<section class="hero is-small is-light">
  <div class="hero-body">
    <div class="columns">
      <!-- <div class="column">
        <ul>
          <li>{{ resume.contact.name }}</li>
          <li>{{ resume.contact.addressStreet }}</li>
          <li>{{ resume.contact.addressPlace }}</li>
        </ul>
      </div> -->

      <div class="container">
        
      
        <div class="level contactIcons">

            <div class="level-item has-text-centered"><a [href]="resume.contact.email"><i class="far fa-envelope"></i></a></div>
            <div class="level-item has-text-centered"><a [href]="resume.contact.linkedin"><i class="fab fa-linkedin"></i></a></div>
            <div class="level-item has-text-centered"><a [href]="resume.contact.bitbucket"><i class="fab fa-bitbucket"></i></a></div>
            <div class="level-item has-text-centered"><a [href]="resume.contact.github"><i class="fab fa-github"></i></a></div>
            <div class="level-item has-text-centered"><a [href]="resume.contact.facebook"><i class="fab fa-facebook"></i></a></div>
            <!-- <li>Github: {{ resume.contact.github }}</li> -->
        </div>

        <!-- <div>{{ resume.contact.phone }}</div> -->

      </div>
    </div>
  </div>
</section>