h1{
    margin-left: -20px;
    padding-bottom: 50px;
}

h2{
    text-align: center;
}

h3{
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
}

section > div{
    width: 80%;
    max-width: 600px;
    align-self: center;
}

.historyItem{
    margin: 10px;
}

.subtitle{
    margin-top:50px;
}