<section class="hero is-small is-light is-bold aboutSection">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                a little bit more about...
            </h1>
            <h2 class="subtitle">
                who I am
            </h2>
        </div>
        <!-- <app-blurb #about [content]="resume.about"></app-blurb> -->

        <div class="container">
            <ul>
                <li *ngFor="let entry of resume.about">
                    <div class="box historyItem">
                        <ul>
                            <li>{{entry}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <!-- <div class="container">
            <h2 class="subtitle">
                the opinions I have
            </h2>
        </div>
        <div class="section">
            <ul>
                <li *ngFor="let entry of resume.beliefs">
                    <div class="box historyItem">
                        <ul>
                            <li>{{entry}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div> -->

        <!-- <div class="container">
            <h2 class="subtitle">
                how I work
            </h2>
        </div> -->
        <div class="container">
            <h2 class="subtitle">where I went to school</h2>
        </div>


        <div class="box historyItem">
            <h3>{{ resume.education.university }}</h3>
            <ul> 
                <li>{{ resume.education.school }}</li>
                
                <li>{{ resume.education.degreeType }}</li>
                <li>{{ resume.education.degree }}</li>
                <li>{{ resume.education.gpa }}</li>
                <li>{{ resume.education.year }}</li>
            </ul>

        </div>

        <!-- <app-blurb [content]="resume.softskills"></app-blurb> -->
        <!-- <img [src]="assets.pride"/> -->
        <div>
            <h2 class="subtitle">where I've worked</h2>
        </div>
        <div class="box historyItem" *ngFor="let entry of resume.workHistory">
            <a href="{{entry.link}}"><h3>{{entry.name}}</h3></a>
            <ul>
                <li>{{entry.position}}</li>
                <li>{{entry.time}}</li>
                <li>{{entry.location}}</li>
            </ul>
        </div>
    </div>
</section>