<footer class="footer is-dark">
  <div class="container">
  <div class="content has-text-centered">
    <p>
     Built by Tyler Darsey with <a href="https://bulma.io">Bulma</a> and <a href="https://angular.io/">Angular</a>.
    </p>
  </div>
  </div>
  </footer>