<app-title #top></app-title>
<app-contact></app-contact>
<!-- <app-blurb [content]="resume.intro"></app-blurb> -->

<!-- <app-blurb [content]="resume.vision"></app-blurb> -->

<app-blurb [content]="resume.summary"></app-blurb>

<section class="hero is-small is-dark is-bold">
    <div class="hero-body">
        <!-- <div class="container">
            <h1 class="title">
                skillsets
            </h1>
            <h2 class="subtitle">
                what I think I'm good at
            </h2>
        </div> -->
        <app-skill-list #skills></app-skill-list>
    </div>
</section>

<section class="hero is-small is-light">
    <div class="hero-body">
        <!-- <div class="container bottomMargin">
            <h1 class="title">
                projects
            </h1>
            <h2 class="subtitle">
                for work and for play
            </h2>
        </div> -->
        <app-projects-list></app-projects-list>
    </div>
</section>

<app-about></app-about>

<!-- <section>
    <img [src]="assets.comp" class="sucker"/>
</section> -->