<section class="hero is-small is-primary rainbowBackground">
  <div class="hero-body columns">
    <div class="container column">
      <div class="introWrap">
          <h1 class="title">
              {{ resume.title }}
            </h1>
            <h2 class="subtitle">
              {{ resume.intro }}
            </h2>
      </div>
    </div>
    <div class="container column centerContent">
      <img [src]="assets.tyler" />
    </div>
  </div>
</section>