img {
    //max-width: 300px;
    max-height: 400px;
    border-radius: 150px;
    //margin: -200px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    align-self: center;
}

.centerContent{
    display: flex;
    justify-content: center;
    
}

.hero-body{
    //display: flex;
    align-items: center;
}

.introWrap{
    max-width: 800px;
    margin-left: auto;
}

.title, .subtitle{
    text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.title{
    text-align:center;
}

.subtitle{
    text-align: center;
}

.rainbowBackground{
    background-image: linear-gradient(141deg, #9e0000 0%, #00bfeb 100%);
}

.columns{
    margin-right: 0;
}