<nav class="level">
  <div *ngFor="let skill of resume.skills " class="level-item has-text-centered skill">
    <div>
      <p class="heading">{{ skill.name }}</p>
      <ul>
        <li *ngFor="let item of skill.items">{{ item }}</li>
      </ul>
    </div>
  </div>
</nav>
