
.project h2, h3, p, hr{
    padding: 0;
    margin: 5px;
}

.project h2{
    font-size: 32px;
}
.project h3{
    font-size: 20px;
    text-align: center;
}

.project .linklist{
    margin-top: 20px;
}


.project img{
    height: inherit;
    width: fit-content;
    margin: 0 auto;
    /* max-width: 100%; */
    display: block;
    border-radius: 10px;
}
.taglist{
    align-self: center;
    align-items: flex-start;
    margin: inherit;
    text-align: center;
    flex-grow: 0;
    margin-bottom: 50px;
}