<div class="tile is-parent is-vertical project">
  <h2 class="title is-2">{{ project.description }}</h2>
  <h3 class="title is-3" *ngIf="project.name">{{ project.name }}</h3>
  <img *ngIf="project.imageUrl" [src]="project.imageUrl" />

  <h3 *ngIf="project.place" class="title is-3">{{ project.place }}</h3>

  <div class="container taglist">
      <span *ngFor="let tag of project.tags" class="tag">
          {{tag}}
      </span>
  </div>

  <p>{{ project.summary }}</p>

  <nav class="level linklist">
    <div *ngIf="project.url" class="level-item has-text-centered">
      <a  href="{{ project.url }}" target="_blank">Link</a>
    </div>
    <div *ngIf="project.sourceUrl" class="level-item has-text-centered">
      <a  href="{{ project.sourceUrl }}" target="_blank">Source</a>
    </div>
  </nav>
  
  <nav class="level linklist" *ngFor="let link of project.links">
    <div class="level-item has-text-centered">
      <a  href="{{ link.link }}" target="_blank">{{ link.text }}</a>
    </div>
  </nav>

  <!-- <hr/> -->

</div>