.flexWrap{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10%;
}


// hr{
//     background-color: rgba(0, 0, 0, 0.1);
// }

.title{
    text-align: center;
}

hr{
    background-color: rgba(0, 0, 0, 0.05);
}