
<h3 class="title">My Work</h3>

<div  class="tile is-ancestor is-12 flexWrap">
  <app-project class="tile is-parent is-6" *ngFor="let project of resume.projects.work" [project]="project"></app-project>
</div>

<hr />

<h3 class="title">My Play</h3>

<div  class="tile is-ancestor is-12 flexWrap">
  <app-project class="tile is-parent is-6" *ngFor="let project of resume.projects.play" [project]="project"></app-project>
</div>

